[submodule "sub/repo"]
	path = sub/repo
	url = https://github.com/yourfavengineer/dest-repo.git
[submodule "Gitopsproject"]
	path = Gitopsproject
	url = https://github.com/yourfavengineer/Gitopsproject.git
[submodule "vprofile-project"]
	path = vprofile-project
	url = https://github.com/devopsengineer007/new-vprofile-project.git
[submodule "nebula-project"]
	path = nebula-project
	url = https://github.com/yourfavengineer/nebula-project.git
